<div class="animate__animated animate__fadeIn animate__faster mt-1">
    <h2>By Capital</h2>


<div class="row">
    <div class="col">
        <app-country-input
            (onEnter)="search( $event )"
            placeholder="Search by capital...">
        </app-country-input>
    </div>
</div>

</div>


<div *ngIf="isError"
    class="alert alert-danger mt-3">
    No {{ term }} capital found
</div>

<div *ngIf="countries.length > 0"
    class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>